openapi: 3.0.3
info:
    title: User Service API
    version: 1.0.0
    description: User management service for banking system
servers:
    - url: https://api.bank.com/user-service/v1
paths:
    /users:
        get:
            summary: Danh sách người dùng
            parameters:
                - name: page
                  in: query
                  schema:
                      type: integer
                      default: 1
                - name: limit
                  in: query
                  schema:
                      type: integer
                      default: 20
                - name: role
                  in: query
                  schema:
                      type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ApiResponse"
        post:
            summary: Tạo người dùng mới
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/NewUser"
            responses:
                "201":
                    description: Created
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ApiResponse"
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ApiResponse"

    /users/{id}:
        get:
            summary: Chi tiết người dùng
            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                      type: integer
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ApiResponse"
                "404":
                    description: Not Found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ApiResponse"
        patch:
            summary: Cập nhật thông tin người dùng
            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                      type: integer
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/UpdateUser"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ApiResponse"

    /users/{id}/roles:
        get:
            summary: Lấy danh sách roles của user
            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                      type: integer
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ApiResponse"
        post:
            summary: Thêm role cho user
            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                      type: integer
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/AddRoles"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ApiResponse"

    /users/{id}/accounts:
        get:
            summary: Lấy danh sách tài khoản của user
            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                      type: integer
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ApiResponse"
                "404":
                    description: Not Found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ApiResponse"

    /users/validate/{id}:
        get:
            summary: Validate user existence (for internal services)
            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                      type: integer
            responses:
                "200":
                    description: User exists
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ApiResponse"
                "404":
                    description: User not found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ApiResponse"

    /users/{id}/roles/{roleId}:
        delete:
            summary: Xóa role khỏi user
            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                      type: integer
                - name: roleId
                  in: path
                  required: true
                  schema:
                      type: integer
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ApiResponse"

components:
    schemas:
        ApiResponse:
            type: object
            properties:
                success:
                    type: boolean
                message:
                    type: string
                data:
                    type: object
                error:
                    type: object
                    properties:
                        code:
                            type: string
                        message:
                            type: string

        NewUser:
            type: object
            required: [username, email]
            properties:
                username:
                    type: string
                    minLength: 3
                    maxLength: 50
                email:
                    type: string
                    format: email
                roles:
                    type: array
                    items:
                        type: integer
                    description: Array of role IDs

        UpdateUser:
            type: object
            properties:
                email:
                    type: string
                    format: email
                roles:
                    type: array
                    items:
                        type: integer

        AddRoles:
            type: object
            required: [role_ids]
            properties:
                role_ids:
                    type: array
                    items:
                        type: integer
                    minItems: 1

    securitySchemes:
        OAuth2:
            type: oauth2
            flows:
                authorizationCode:
                    authorizationUrl: https://auth.bank.com/oauth/authorize
                    tokenUrl: https://auth.bank.com/oauth/token
                    scopes:
                        user:read: Read user information
                        user:write: Create and update users
                        user:manage: Full user management access

security:
    - OAuth2: [user:read]
